*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-image: linear-gradient(rgba(255, 46, 210, 0.367),rgba(255, 132, 0, 0.386)),url(./images/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    position: relative;
}


.overlay{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(10, 10, 10, 0.3);
}


nav{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 60px 0 60px;
}

nav h2{
    color: orange;
    font-family: cursive;
    border-bottom: 2px dashed orange;
}

nav li{
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

nav li span{
    padding-left: 5px;
}

li a{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

li a:hover{
    border-bottom: 2px solid orange;
}

.cart .fa-shopping-cart{
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}

.cart a{
    background-color: orange;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
}

.cart a:hover{
    background-color: rgb(255, 181, 43);
    color: gray;
    border: none;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap; 
    margin-top: 50px;  
    padding-bottom: 20px;
}

.card {
    width: 350px;
    height: 350px;
    border: 2px solid darkgray;
    margin: 20px;
    position: relative;
    overflow: hidden;
}

img {
    width: 90%;
    height: 70%;
    margin:10px;
}

.add-cart{
    position: absolute;
    width: 100%;
    margin: auto;
    background-color: darkgray;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}


.card:hover .cart1,
.card:hover .cart2,
.card:hover .cart3,
.card:hover .cart4,
.card:hover .cart5,
.card:hover .cart6,
.card:hover .cart7{
    bottom: 50px;
    padding: 10px;
    text-decoration: none;
    opacity: 1;
}

.h2 .h3{
    margin-top: 90px;
}